* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Chivo;
  background-color: #f9f6efff;
}
nav {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  position: sticky;  /*TODO*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pages {
  list-style: none;
  overflow: hidden;
  display: flex;
  font-style: normal;
}
.logo {
  font-size: 25px;
  text-decoration-line: none;
  color:  #1d1d1f;
  font-weight: 400;
}
.pageLink:link {
  font-size: 22px;
  color: #A9A9A9;
  text-decoration-line: none;
}
.currPage:link {
  font-size: 22px;
  color: #1d1d1f;
  font-weight: bold;
  text-decoration-line: none;
}
.pageLink:hover { /*TODO: hover color not working*/
  font-size: 25px;
  color: #1d1d1f;
}
.currPage:hover {
  font-size: 25px;
  color: #1d1d1f;
}
.pageLink:visited {
  color: #A9A9A9;
}
.currPage:visited {
  color: #1d1d1f;
}
.pageLink:active {
  color: #1d1d1f;
}
.currPage:active {
  color: #1d1d1f;
}
main {
  text-align: center;
  padding-top: 3%;
  column-count: 2;
}  
.column {
  float: left;
  width: 100%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
h1 {
  text-align: center;
}
.logoLink {
  color: #333;
  text-decoration: none;
}
.logo {
  height: 35px;
  width: 35px;
  padding-right: 10px;
  padding-left: 10px;
}