* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Chivo;
  background-color: #f9f6efff;
}
nav {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  position: sticky;  /*TODO*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pages {
  list-style: none;
  overflow: hidden;
  display: flex;
  font-style: normal;
}
.logo {
  font-size: 25px;
  text-decoration-line: none;
  color:  #1d1d1f;
  font-weight: 400;
}
.pageLink:link {
  font-size: 22px;
  color: #A9A9A9;
  text-decoration-line: none;
}
.currPage:link {
  font-size: 22px;
  color: #1d1d1f;
  font-weight: bold;
  text-decoration-line: none;
}
.pageLink:hover { /*TODO: hover color not working*/
  font-size: 25px;
}
.currPage:hover {
  font-size: 25px;
}
.pageLink:visited {
  color: #A9A9A9;
}
.currPage:visited {
  color: #1d1d1f;
}
.pageLink:active {
  color: #1d1d1f;
}
.currPage:active {
  color: #1d1d1f;
}
main {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
}
.logoLink {
  color: #333;
  text-decoration: none;
}
.logoPic {
  height: 35px;
  width: 35px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
h1 {
  padding-bottom: 5%;
  font-size: 70px;
}
form {
  height: 100%;
  width: 100%;
  border: 2px solid #C47530;
  text-align: center;
  font-size: 22px;
  border-radius: 12px;
  border-style: dotted;
}
.field {
  width: 50%;
  text-align: left;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid grey;
  font-size: 22px;
  font-family: Chivo;
  border-radius: 12px;
  border: 2px solid #C47530;
  border-style: none none solid none;
}
input:focus {
  border: 2px solid black;
}
#message {
  padding-top: 5px;
  padding-bottom: 150px;
}
#submit {
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  background-color: black;
  border-radius: 12px;
}
.column {
  text-align: center;
  float: left;
  width: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.column p {
  font-size: 30px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}