@import url("general.css");
#contact {
  opacity: 1;
} 
form {
  color: #353850;
  margin-top: 5%;
  padding-top: 2%;
  padding: 2% 25%;
  text-align: center;
  font-size: 22px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, minmax(50px, auto));
}
.left {
  grid-column: 1 / 2;
}
.right {
  grid-column: 2 / 3;
}
#name {
  grid-row: 2 / 3;
}
#email {
  grid-row: 3 / 4;
}
#message {
  grid-row: 4 / 6;
}
#submit {
  height: 50px;
  grid-row: 6 / 7;
  font-size: 22px;
  padding: 5px 50px;
  color: white;
  background-color: #E07A5F;
  border-radius: 12px;
}
#contactLabel {
  padding-top: 30px;
  grid-row: 2 / 3;
  height: 50px;
}
#contactText {
  grid-row: 3 / 4;
  height: 50px;
}
#addressLabel {
  grid-row: 4 / 5;
  height: 50px;
}
#addressText {
  grid-row: 5 / 6;
  height: 50px;
}
.field {
  text-align: left;
  margin: 8px 0;
  height: 40px;
  border: 1px solid #E07A5F;
  font-size: 22px;
  font-family: Chivo;
  padding: 10px 10px;
  border-radius: 12px;
  border: 2px solid #E07A5F;
  border-style: none none solid none;
}
.logoLink {
  color: #E07A5F;
  text-decoration: none;
}
.logoPic {
  grid-row: 6 / 7;
  height: 35px;
  width: 35px;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
}
#message {
  padding-top: 5px;
  padding-bottom: 150px;
}
.modal {
  background-color: rbg(244, 241, 222, 0.8);
  display: none;
}

.modal-content {
  background-color: #E07A5F;
  padding: 20px;
  width: 20%;
  height: 20%;
  position: fixed;
  left: 40%;
  top: 35%;
  border: 1px solid #F4F1DE;
  text-align: center;
  color: #F4F1DE;
  font-size: 25px;
}
#text {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close {
  color: #F4F1DE;
  float: right;
  font-size: 28px;
}
.close:hover, .close:focus {
  color: #F4F1DE;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}