* {
    margin: 0;
    padding: 0;
    font-family: Chivo;
}
body {
    display: grid;
    grid-template-rows: 8vh auto;
    background-color: #FFFFFF;
}

/* ------- navigation ------- */
.nav {
height: 8vh;
background-color: #FFFFFF;
color: #304269;
display: grid;
grid-template-rows: auto 4px;
position: fixed;
text-align: left;
}
    .nav nav {
        grid-row: 1 / 2;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(20, 1fr);
        grid-gap: 30px;
    }
    .nav .fancy-border {
        grid-row: 2 / 3;
        width: 100vw;
        height: 4px;
        text-align:center;
        border-top: 5px solid;
        border-image: linear-gradient(to right, #D9E8F5 25%, #F26101 25%, #F26101 50%, #91BED4 50%, #91BED4 75%, #304269 75%) 10;
    }
    #logo {
        grid-column: 1 / 6;
        font-size: 1.8vw;
        text-decoration-line: none;
        font-weight: 400;
        margin: auto;
    }
    .navLink:link {
        margin: auto;
        font-size: 1.8vw;
        text-decoration-line: none;
        font-weight: 400;
        opacity: 0.5;
    }
    .navLink:visited, .navLink:active, .navLink:hover {
        color: #304269;
    }
    .navLink:hover {
        opacity: 1;
    }
    #home {
        grid-column: 16 / 17;
    }
    #portfolio {
        grid-column: 17 / 18;
    }
    #resume {
        grid-column: 18 / 19;
    }
    #contact {
        grid-column: 19 / 20;
    }
    .hoverEffect {
        display: inline-block;
        position: relative;
        color: #304269;
      }
      
      .hoverEffect:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #304269;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .hoverEffect:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

/* ------- main ------- */
main {
    color: #304269;
    grid-row: 2 / 3;
}
    h1 {
        margin: 5% 0%;
        font-size: 5vw;
        text-align: center;
    }
    h3 {
        font-size: 3vw;
        margin-top: 2%;
        margin-bottom: 5%;
        text-align: center;
    }
    h4 {
        font-size: 2.2vw;
        margin-bottom: 2%; 
    }
    p {
        font-size: 1.5vw;
        margin: 2% 15% 5%;
        line-height: 1.5;
    }
    hr {
        background-color: #F26101;
        height: 1px;
        margin-bottom: 2%;
        border: none;
    }
    mark {
        background-color: rgba(242, 97, 1, 0.5);
    }