/*
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Questrial");

[
 {
  "username": "kotoetakeda",
  "name": "Kotoe Takeda",
  "userimg": "https://avatars.githubusercontent.com/u/87552136?v=4",
  "sort": "created",
  "order": "asc",
  "includeFork": false,
  "theme": "light.css",
  "types": [
   "owner"
  ],
  "linkedin": null,
  "github": null
 }
]
*/

body {
  background-color: #f9f6efff;
  margin: 5%, 5%, 5%, 5%;
  font-family: Chivo;
}
nav {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  position: sticky;  /*TODO*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pages {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  font-style: normal;
}
.logo {
  font-size: 24px;
  text-decoration-line: none;
  color:  #1d1d1f;
  font-weight: 400;
}
.pageLink:link {
  font-size: 15px;
  color: #A9A9A9;
  text-decoration-line: none;
}
.currPage:link {
  font-size: 15px;
  color: #1d1d1f;
  font-weight: bold;
  text-decoration-line: none;
}
.pageLink:hover { /*TODO: hover color not working*/
  font-size: 20px;
  color: #1d1d1f;
}
.currPage:hover {
  font-size: 20px;
  color: #1d1d1f;
}
.pageLink:visited {
  color: #A9A9A9;
}
.currPage:visited {
  color: #1d1d1f;
}
.pageLink:active {
  color: #1d1d1f;
}
.currPage:active {
  color: #1d1d1f;
}
#aboutMe {
  margin-top: 15%;
  margin-bottom: 15%;  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 30px;
  color: #1d1d1f;
}
#picture {
  margin-right: 10%;
  height: 300px;
  width: 300px;
}
