* {
    margin: 0;
    padding: 0;
    font-family: Chivo;
}
body {
    display: grid;
    grid-template-rows: 8vh auto;
    background-color: #F4F1DE;
}
nav {
    padding-top: 1.5%;
    display: grid;
    position: fixed;
    height: 5%;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 30px;
    background-color: rgba(244, 241, 222, .8);
}
.logo {
    grid-column: 2 / 5;
    font-size: 25px;
    text-decoration-line: none;
    color:  #E07A5F;
    font-weight: 400;
}
.navLink:link {
    font-size: 22px;
    color: #E07A5F;
    text-decoration-line: none;
    font-weight: 400;
}
.navLink:hover {
    font-size: 23px;
    font-weight: bold;
    color: #E07A5F;
}
.navLink:visited {
    color: #E07A5F;
}
.navLink:active {
    color: #E07A5F;
}
#home {
    grid-column: 16 / 17;
}
#portfolio {
    grid-column: 17 / 18;
}
#resume {
    grid-column: 18 / 19;
}
#contact {
    grid-column: 19 / 20;
}
main {
    color: #353850;
    grid-row: 2 / 9;
    text-align: center;
}
h1 {
    margin-top: 5%;
    padding-bottom: 1%;
    font-size: 70px;
}
p {
    font-size: 22px;
    margin: 2% 15% 5%;
    text-align: justify;
    line-height: 1.5;
}
.sec1 p {
    margin-top: 1%;
    text-align: center;
}
hr {
    background-color: #F2CC8F;
    height: 1px;
    border-width: 0px;
  }
h3 {
    font-size: 40px;
    margin-top: 2%;
    margin-bottom: 5%;
}
mark {
    background-color: rgba(224, 122, 95, 0.4);
}
.fancy-border {
    width: 100vw;
    height: 2px;
    text-align:center;
    border-top: 5px solid;
    border-image:   linear-gradient(to right, grey 25%, yellow 25%, yellow 50%,red 50%, red 75%, teal 75%) 10;
  }
/* --------SELECTION FORMATTING BELOW-------------- */
a {
	color: #E07A5F;
	text-decoration: none;
}
#timeline {
    margin: 2% 15% 5%;
    padding: 0px;
    height: 620px;
    display: grid;
    grid-template-columns: 35% 65%;
}
#processes {
    grid-column: 1 / 2;
    width: 100%;
    overflow: hidden;
    float: left;
    list-style: disc;
    list-style-position: inside;
}
    #processes li {
        color: #E07A5F;
        text-align: left;
        line-height: 100px;
        font-size: 22px;
        padding-left: 5px;
    }
    #processes a:hover, .tag:hover {
        font-weight: bold;
        list-style:circle;
        list-style-position: inside;
    }
    #processes #analysis_tag {
        font-size: 30px;
        font-weight: bold;
        list-style: circle;
        list-style-position: inside;
    }

#description {
    grid-column: 2 / 3;
    width: 100%;
    overflow: scroll;
    float: left;
    padding: 0;
}	
    #description li {
        height: auto;
        list-style: none;
        padding: 0;
        display: none;
    }
    #description p {
        text-align: justify;
        margin: 0;
        padding: 2% 3%;
    }
    #description #analysis {
        display: block;
    }
/* --------SELECTION FORMATTING ABOVE-------------- */
#hifi button, #hifi a {
    height: 50px;
    font-size: 22px;
    padding: 5px 50px;
    margin-bottom: 10px;
    color: white;
    background-color: #E07A5F;
    border-radius: 12px;
}
#hifi img {
    height: 450px;
    width: 650px;
}
.sec2 {
    display: grid;
    grid-template-columns: 70% 25%;
    grid-template-rows: repeat(5, 140px);
    column-gap: 5%;
    margin: 2% 15% 5%;
}
    .sec2 h3 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .s2p1 p {
        font-size: 22px;
        margin: 0;
        text-align: justify;
        line-height: 1.5;
    }
    .s2p2 p {
        font-size: 22px;
        margin: 0;
        text-align: left;
        line-height: 1.5;
    }
    .s2p1 h4 {
        font-size: 30px;
        margin: 2%;
        text-align: left;
    }
    .s2p2 h4 {
        font-size: 30px;
        margin-bottom: 2%;
        text-align: left;
    }
    .sec2 #prob {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    .sec2 #obj {
        grid-column: 1 / 2;
        grid-row: 4 / 6;
    }
    .sec2 #scope {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .sec2 #role {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .sec2 #skill {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    .sec2 #tool {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
.sec5 {
    display: grid;
    grid-template-columns: 3% 25% 68%;
    grid-template-rows: repeat(5, 140px);
    /* column-gap: 1% 5%; */
    row-gap: 2%;
    margin: 2% 15% 5%;
    text-align: left;
}
    .sec5 h3 {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        text-align: center;
    }
    .sec5 h4 {
        padding-left: 1%;
        margin-bottom: 5%;
        font-size: 22px;
    }
    .sec5 p {
        padding-left: 5%;
        margin: 0;
        line-height: 1.5;
        font-size: 22px;
        text-align: justify;
    }
    .sec5 #data-m {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .sec5 #data-h {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    .sec5 #data-p {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }
    .sec5 #user-m {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    .sec5 #user-h {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
    .sec5 #user-p {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
    }
    .sec5 #accessibility-m {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    .sec5 #accessibility-h {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }
    .sec5 #accessibility-p {
        grid-row: 4 / 5;
        grid-column: 3 / 4;
    }
    .sec5 #relevance-m {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
    .sec5 #relevance-h {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }
    .sec5 #relevance-p {
        grid-row: 5 / 6;
        grid-column: 3 / 4;
    }