* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Chivo;
  background-color: #f9f6efff;
}
/*SECTION 1*/
.section1 {
  background-color: #f9f6efff;
}
#secondSection {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 8%;
}
nav {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  position: sticky;  /*TODO*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pages {
  list-style: none;
  overflow: hidden;
  display: flex;
  font-style: normal;
}
.logo {
  font-size: 25px;
  text-decoration-line: none;
  color:  #1d1d1f;
  font-weight: 400;
}
.pageLink:link {
  font-size: 22px;
  color: #A9A9A9;
  text-decoration-line: none;
}
.currPage:link {
  font-size: 22px;
  color: #1d1d1f;
  font-weight: bold;
  text-decoration-line: none;
}
.pageLink:hover { /*TODO: hover color not working*/
  font-size: 25px;
}
.currPage:hover {
  font-size: 25px;
}
.pageLink:visited {
  color: #A9A9A9;
}
.currPage:visited {
  color: #1d1d1f;
}
.pageLink:active {
  color: #1d1d1f;
}
.currPage:active {
  color: #1d1d1f;
}
/*#gallery {
  column-count: 3;
  column-gap: 100px;

}*/
.portfolio {
  text-align: center;
}
.section1 h1 {
  padding-bottom: 5%;
  font-size: 70px;
}
.portfolio img {
  height: 500px;
  width: 700px;
  margin-bottom:3%;
  border-radius: 50px;
}
.portfolio img:hover {
  height: 600px;
  width: 800px;
}
.portfolio a {
  text-decoration: none;
  color: #333;
}
.portfolio figcaption {
  text-align: center;
  margin-left: 21%;
  margin-right: 21%;
  margin-bottom: 100px;
}
.portfolio figcaption p {
  font-size: 25px;
}
.portfolio figcaption h2 {
  font-size: 50px;
}
/*
figure .caption {
  height: 450px;
  width: 700px;
  visibility: hidden;
}
#stress_img:hover #stress_caption {
  visibility: visible;
  opacity: 50%;
  background-color: green;
*/
/*SECTION 2*/
/*
#section2 {
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 5%;
}
#section2 h1 {
  padding-bottom: 5%;
  font-size: 40px;
}*/

/*SECTION 3*/
/*
#section3 {
  background-color: #f9f6efff;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 5%;
}
#section3 h1 {
  padding-bottom: 5%;
  font-size: 40px;
}
*/

/*SECTION 4*/
/*
#section4 {
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 5%;
}
#section4 h1 {
  padding-bottom: 5%;
  font-size: 40px;
}
*/