@import url("general.css");
#portfolio {
  opacity: 1;
}
.portfolio {
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
}
.portfolio img {
  height: 500px;
  width: 700px;
  margin-bottom:3%;
  border-radius: 50px;
}
.portfolio img:hover {
  height: 510px;
  width: 710px;
}
.portfolio a {
  text-decoration: none;
  color: #304269;
}
.portfolio figcaption {
  text-align: center;
  margin-left: 21%;
  margin-right: 21%;
}
.portfolio figcaption p {
  font-size: 25px;
}
.portfolio figcaption h2 {
  font-size: 50px;
}
button {
  background-color: #D9E8F5;
  color: #304269;
  border-radius: 50px;
  padding: 5px 10px;
  border-width: 0px;
  font-size: 15px;
}
#med {
  margin-top: 0px;
}
#marta figcaption {
  margin-bottom: 0px;
}
#marta {
  margin-bottom: 5%;
}