/* breakpoints */

/* 2xl */
@media (max-width: 1536px) {
    :root {
        font-size: 10px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    :root {
        font-size: 8px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    :root {
        font-size: 7px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    html {
        font-size: 6px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .nav_link {
        display: none;
    }
    /* #menu {
        display: block;
    }  */
    #shortcut-container {
        justify-content: right;
    }
    html {
        font-size: 5px;
    }
  }
  
  /* xs */
  @media (max-width: 548px) {
    html {
        font-size: 4px;
    }
  }
  @media (max-width: 480px) {
    html {
        font-size: 3.5px;
    }
  }
  @media (max-width: 400px) {
    html {
        font-size: 3px;
    }
    p {
    font-size: 3rem;
    }
  }