* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Chivo;
  background-color: #f9f6efff;
}
nav {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  position: sticky;  /*TODO*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pages {
  list-style: none;
  overflow: hidden;
  display: flex;
  font-style: normal;
}
.logo {
  font-size: 25px;
  text-decoration-line: none;
  color:  #1d1d1f;
  font-weight: 400;
}
.pageLink:link {
  font-size: 22px;
  color: #A9A9A9;
  text-decoration-line: none;
  font-weight: 400;
}
.currPage:link {
  font-size: 22px;
  color: #1d1d1f;
  font-weight: bold;
  text-decoration-line: none;
}
.pageLink:hover { /*TODO: hover color not working*/
  font-size: 25px;
}
.currPage:hover {
  font-size: 25px;
}
.pageLink:visited {
  color: #A9A9A9;
}
.currPage:visited {
  color: #1d1d1f;
}
.pageLink:active {
  color: #1d1d1f;
}
.currPage:active {
  color: #1d1d1f;
}
h1 {
  padding-bottom: 5%;
  font-size: 70px;
}
.resume {
  text-align: left;
  padding-bottom: 5%;
}
main {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
}