* {
    margin: 0;
    padding: 0;
    font-family: Chivo;
}
body {
    display: grid;
    grid-template-rows: 8vh auto;
    background-color: #F4F1DE;
}
nav {
    padding-top: 1.5%;
    display: grid;
    position: fixed;
    height: 5%;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 30px;
    background-color: rgba(244, 241, 222, .8);
}
.logo {
    grid-column: 2 / 5;
    font-size: 25px;
    text-decoration-line: none;
    color:  #E07A5F;
    font-weight: 400;
}
.navLink:link {
    font-size: 22px;
    color: #E07A5F;
    text-decoration-line: none;
    font-weight: 400;
}
.navLink:hover {
    font-size: 23px;
    font-weight: bold;
    color: #E07A5F;

}
.navLink:visited {
    color: #E07A5F;
}
.navLink:active {
    color: #E07A5F;
}
#home {
    grid-column: 16 / 17;
}
#portfolio {
    grid-column: 17 / 18;
}
#resume {
    grid-column: 18 / 19;
}
#contact {
    grid-column: 19 / 20;
}
main {
    color: #353850;
    grid-row: 2 / 9;
    text-align: center;
}
h1 {
    margin-top: 5%;
    padding-bottom: 1%;
    font-size: 70px;
}
p {
    font-size: 22px;
    margin: 2% 15% 5%; /* top right bottom left */
    text-align: justify;
}
.sec1 p {
    margin-top: 1%;
    text-align: center;
}
hr {
    background-color: #F2CC8F;
    height: 1px;
    border-width: 0px;
  }
h3 {
    font-size: 40px;
    margin-top: 2%;
}
h4 {
    font-size: 25px;
    text-align: left;
    margin: 1% 15% 1%;
}
