:root {
    /* background */
    --light-grey: #F0F0F0;
    --blue: #4F709C;
    --dark-blue: #213555;
    --yellow: #E5D283;

    /* typography */
    font-family: Georgia, 'Times New Roman', Times, serif;
    --primary-text: rgba(0, 0, 0, 0.9);
    --secondary-text: rgba(0, 0, 0, 0.7);
    --disabled-text: rgba(0, 0, 0, 0.35);
}
html {
    font-size: 62.5%; /* 1rem = 10px */
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
}
p {
    padding: 0;
    margin: 0;
}

/* FONT SIZES */
.xxxl {
    font-size: 8rem;
    font-weight: 800;
}
.xxl {
    font-size: 6rem;
}
.xl {
    font-size: 4rem;
}
.l {
    font-size: 3rem;
    font-weight: 800;
}
.g {
    font-size: 22rem;
}
.m {
    font-size: 1.8rem;
}
.s {
    font-size: 1.2rem;
}

main {
    margin: 3rem 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#desc {
    grid-column: 1 / 4;
    background-color: var(--yellow);
    height: 100%;
}
#nav {
    grid-column: 4 / 5;
    background-color: var(--dark-blue);
    height: 100%;
    text-align: right;
}

