@import url('responsive.css');

:root {
    /* global variables */
    --main-color: #fbf7ef;
    --side-color: #911010;
    --black: #000;
    --white: #FFF;

    /* general settings */
    font-family: Didot, serif;
    color: black;
    /* font-size: 62.5%; */
    margin: 1%;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    background-color: var(--main-color);
    display: grid;
    grid-template-rows: 15vh 85vh;
    overflow-x: hidden;
}
p {
    padding: 0;
    margin: 0;
}
.t1 { /* title header 1 */
    font-size: 6rem;
}
.t2 { /* title header 2 */
    font-size: 4rem;
}
.t3 { /* title header 3 */
    font-size: 3rem;
}
.n { /* normal text */
    font-size: 2.2rem;
}
a, a:visited, a:default {
    color: var(--side-color);
    text-decoration: none;
}
a:hover, a:active {
    color: var(--side-color);
    font-weight: bold;
    text-decoration: none;
}
.round-btn {
    background-color: var(--side-color);
    border-radius: 12px; 
    border-color: var(--side-color);
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--main-color);
}
    .round-btn:hover {
        font-weight: 800;
    }

/* header */
header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100%;
    width: 100%;
    margin: auto;
}
    #logo-container {
        display: flex;
        justify-content: start;
    }
        #logo {
            height: 10rem;
            border-radius: 20px;
        }
    #shortcut-container {
        display: flex;
        justify-content: space-evenly;
    }

main {
    grid-row: 2 / 3;
}

